BraveSoftware/
Discord/
Electron/
Kvantum/
QtProject.conf
Thunar/
chromium/
dconf/
discord/
gtk-4.0/
htop/
keepasxc/
mimeapps.list
nwg-look/
obsidian/
okularpartrc
okularrc
org.sonusmix.Sonusmix
pavucontrol.ini
pulse/
qt6ct/
spotify/
xfce4/
