* {
    border: none;
    border-radius: 0px;
    font-family: "OpenDyslexicM Nerd Font";
    font-size: 10px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

/* Arch icon on the left side */
#custom-icon {
    background: rgba(22, 26, 29, 1);
    border-radius: 9px 0px 0px 9px;
    padding-left: 9px;
    margin-top: 6px;
    margin-left: 9px;
    color: rgba(33, 158, 188, 1);
}

/* workspaces settings */
#workspaces {
    background: rgba(22, 26, 29, 1);
    border-radius: 0px 9px 9px 0px;
    margin-top: 6px;
    padding: 3px;
    color: rgba(230, 225, 220, 1.0);
}

#workspaces button{ /* not active */
    padding: 5px 5px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
    color: rgba(230, 225, 220, 1.0);
}

#workspaces button.active{
    background: rgba(70, 70, 70, 1.0);
    border-radius: 9px;
}

#workspaces button.visible{
    background: rgba(70, 70, 70, 1.0);
    border-radius: 9px;
}

#workspaces button:hover{
    background: rgba(70, 70, 70, 1.0);
    border-radius: 9px;
}
/* End workspaces settings */

/* spotify module */
#custom-spotify {
    background: rgba(38, 38, 38, 1.0);
    border-radius: 9px;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 6px;
    margin-left: 6px;
    color: rgba(230, 225, 220, 1.0);
}

/* middle module clock */
#clock {
    background: rgba(22, 26, 29, 1);
    border-radius: 9px ;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 6px;
    color: rgba(230, 225, 220, 1.0);
}

/* tray right side */
#tray {
    background: rgba(22, 26, 29, 1);
    border-radius: 9px;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 6px;
    margin-right: 6px;
}

/* pacman packages for download */
#custom-pacman{
    background: rgba(22, 26, 29, 1);
    border-radius: 9px 9px 9px 9px;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 6px;
    margin-top: 6px;
    color: rgba(238, 155, 0, 1);
}

/* far right modules */
#pulseaudio{
    background: rgba(22, 26, 29, 1);
    border-radius: 9px 0px 0px 9px;
    padding: 0px 3px 0px 9px;
    margin-top: 6px;
    color: rgba(230, 225, 220, 1.0);
}
#network{
    background: rgba(22, 26, 29, 1);
    border-radius: 0px 9px 9px 0px;
    padding: 0px 9px 0px 3px;
    margin-top: 6px;
    color: rgba(230, 225, 220, 1.0);
}
/*suspend*/
#custom-suspend {
    background: rgba(22, 26, 29, 1);
    border-radius: 9px 0px 0px 9px;
    padding: 0px 0px 0px 9px;
    margin-left: 6px;
    margin-top: 6px;
    color: rgba(255, 190, 11, 1);
    font-size: 12px;
}
/* poweroff */
#custom-power {
    background: rgba(22, 26, 29, 1);
    border-radius: 0px 9px 9px 0px;
    padding: 0px 9px 0px 3px;
    margin-top: 6px;
    margin-right: 9px;
    color: rgba(155, 34, 38, 1);
    font-size: 12px;
}

tooltip{
    background: rgba(22, 26, 29, 1);
    font-size: 24px;
    color: rgba(230, 225, 220, 1.0);
    border-radius: 9px ;
}
